.options-menu {
    position: relative;
    display: inline-block;
    margin-left: 50px;
  }
  
  .three-dots-icon {
    cursor: pointer;
  }
  
  .options-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .options-dropdown button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
  }
  